.sort {
  position: relative;
  width: 200px;
  padding: 10px 15px;
}

.activ {
  padding: 10px 20px;
  background-color: #191919;
  border-radius: 10px;
  cursor: pointer;
}

.activ_name {
  font-weight: 700;
  font-style: 18px;
  line-height: 20px;
}

.reverte {
  transform: rotate(180deg);
}

.list {
  position: absolute;
  width: 200px;
  top: 45px;
  right: 0px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #191919;
  border-radius: 10px;
  z-index: 5;
}

.list_item {
  cursor: pointer;
  transition: all 0.5s;
}

.list_item:hover {
  color: #6c3eb8;
}
