.nav {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_item {
  padding: 12px 20px;
  background-color: #191919;
  text-decoration: none;
  border-radius: 15px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  transition: all .3s;
}

.nav_item:hover {
  color: #8B57C6;
}

.active {
  color: #6C3EB8;
}

.active:hover {
  color: #6C3EB8;
}