.main {
  max-width: 1280px;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.main_txt {
  padding: 20px;
  text-align: center;
  font-weight: 400;
  font-style: 18px;
  line-height: 24px;
  color: #B8B8B8;
  background-color: #191919;
  border-radius: 15px;
}