.product {
  width: 300px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #191919;
  border: 1px solid #8B57C6;
  border-radius: 15px;
  transition: all .3s;
  cursor: pointer;
}

.product:hover {
  background-color: #8B57C6;
}

.info {
  padding: 15px 20px;
}

.product_img {
  object-fit: contain;
}

.product_title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.product_category {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.product_price {
  color: #B8B8B8;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.imgBlock {
  position: relative;
}

.like {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.dislike {
  position: absolute;
  bottom: 5px;
  left: 80px;
}