.orders {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

}

.item {
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #191919;
  border-radius: 15px;
}

.email {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
}

.price {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.button {
  width: 160px;
  padding: 12px 0;
  border: 1px solid #6C3EB8;
  border-radius: 15px;
  background-color: #212123;
  color: #fff;
  transition: all .5s;
  cursor: pointer;
}

.button:hover {
  background-color: #8B57C6;
}

.order_items_block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.order_items {
  margin-left: 3rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #191919;
  border-radius: 20px;
}

.order_img {
  object-fit: contain;
}

.order_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.order_count {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.order_total {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.svg {
  cursor: pointer;
}

.svg_rotate {
  cursor: pointer;
  transform: rotate(180deg);
}

.true {
  color: rgb(20, 212, 148);
}

.false {
  color: #cf1f1f;
}