body::-webkit-scrollbar {
  width: 8px;
}

/* Цвет ползунка и фона скроллбара */
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #6C3EB8;
}

body::-webkit-scrollbar-track {
  background-color: #191919;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #212123;
  color: #F6F6F7;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.details:hover > path {
  transition: all .5s;
  fill: #6C3EB8
}