.title {
  padding: 10px 20px;
  max-width: 90px;
  margin: 0 auto 30px;
  font-weight: 600;
  font-style: 26px;
  line-height: 30px;
  background-color: #191919;
  border-radius: 15px;
}

.slider {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  background-color: #191919;
  border-radius: 15px;
}

.img {
  border-radius: 10px;
}

.none {
  display: none;
}